version: 2
updates:
  - package-ecosystem: "cargo" # See documentation for possible values
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
  - package-ecosystem: "github-actions" # See documentation for possible values
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
